Hello World!
<body id="g"></body>
<script src="./socket.io/socket.io.js"></script>
<script src="./Time.js"></script>
<script src="Component.js"></script>
<script src="SpriteRenderer.js"></script>
<script src="Vector2.js"></script>
<script src="Transform.js"></script>
<script src="Player_Script.js"></script>
<script src="GameObject.js"></script>
<script src="ObjectHandler.js"></script>
<script src="SpriteManager.js"></script>
<script src="Game.js"></script>
<script>
  var game = new Game();
  game.registerSocket(io());
</script>
